<div class="flex justify-between items-center mt-16">
    <div class="flex flex-col items-start">
        <div class="inline-block">
            <p class="font-extrabold text-gray-900 text-5xl md:text-7xl 2xl:text-8xl">
                <span class="text-rose-700">المغرب</span> بوتقة
                <br>
                بين السلالات والثقافات
            </p>
        </div>
        <p class="font-bold text-gray-900 text-base lg:text-lg 2xl:text-2xl mt-2">اختبر معلوماتك التاريخية عن المغرب
            واستمتع بالتعلم.</p>
        <a routerLink="/test"
            class="text-white text-center bg-emerald-800/95 hover:bg-emerald-800/75 rounded-lg focus:ring-4 focus:outline-none focus:ring-emerald-800/60 text-base select-none cursor-pointer mt-6 px-8 py-4">ابدأ
            الاختبار!</a>
    </div>

    <div class="w-1/2">
        <img src="../../../assets/moroccan_flag.png" class="" />
    </div>
</div>